body { background-color: #1B2A41; color: #F5F5F5; text-align: center; padding: 120px; margin: 0;}
.section { background-color: #3A506B; }
.button { background-color: #5BC0EB; }
.accent { color: #3A506B; }
.border { width: 100%; max-width: 250px; height: auto; border: 5px solid #3A506B; border-radius: 15px; box-shadow: 0px 4px 10px rgba(27, 42, 65, 0.5); object-fit: cover; }
.bgborder { border: 5px solid #3A506B; border-radius: 15px; padding: 10px; }
.text { color: #F5F5F5; }
.meimg:hover { transform: scale(1.2); }

a { text-decoration: none; }

@media (max-width: 768px)
{
	body
	{
		padding: 10px;
	}
	
	.border
	{
		max-width: 100%;
		height: auto;
	}
	
	.image-container
	{
		margin-bottom: 20px;
	}
	
	nav img
	{
		width: 40px;
		height: auto;
	}
}